<form 
    id="registerForm" 
    class="
        d-flex
        flex-column 
        row-gap-4
        m-1
        " 
    onsubmit="
        return false;"
>
    <div>
        <label 
            for="name" 
            class="
                form-label 
                fs-4"
        >
            Nome:
        </label>
        <input 
            type="text" 
            class="form-control" 
            id="name" 
            required
        >
    </div>
    <div>
        <label 
            for="email" 
            class="
                form-label 
                fs-4"
        >
            Email:
        </label>
        <input 
            type="email" 
            class="form-control" 
            id="email" 
            required
        >
    </div>
    <div>
        <label 
            for="password" 
            class="
                form-label 
                fs-4"
        >
            Senha:
        </label>
        <input 
            type="password" 
            class="form-control" 
            id="password" 
            required 
            pattern="[0-9a-zA-Z]{6,20}"
        >
        <div>
            <ul 
                id="requiriments"
            >
                <li 
                    class="text-secondary" 
                    id="atLeastALower-char"
                >
                    Ao menos uma letra minuscula.
                </li>
                <li 
                    class="text-secondary" 
                    id="atLeastAUpper-char"
                >
                    Ao menos uma letra maiuscula.
                </li>
                <li 
                    class="text-secondary" 
                    id="atLeastANumber"
                >
                    Ao menos um numero.
                </li>
                <li 
                    class="text-secondary" 
                    id="atLeastLenght"
                >
                    Pelo menos 6  e no máximo 20 caracteres.
                </li>
            </ul>
        </div>
    </div>
    <div>
        <label 
            for="confirm-password" 
            class="
                form-label 
                fs-4"
        >
            Repita sua Senha:
        </label>
        <input 
            type="password" 
            class="form-control" 
            id="confirm-password" 
            required
        >
    </div>
    <div 
        class="
            d-flex 
            flex-row 
            justify-content-evenly"
        >
        <button 
            type="submit" 
            class="
                btn 
                btn-primary 
                col-6 
                col-md-3" 
            id="submitBtn"
        >
            Enviar
        </button>
        <button 
            type="reset" 
            class="
                btn 
                btn-danger 
                col-6 
                col-md-3"
        >
            Limpar Formulário
        </button>
    </div>
    <script src="/js/register.js?v=1.0">
    </script>
</form>