<div 
    class="
        col-12 
        col-md-4 
        mb-3">
    <div 
        class="
            card 
            text-bg-light 
            h-10">
        <div 
            class="
                card-body 
                d-flex 
                flex-column 
                justify-content-evenly 
                text-center">
            <p 
                class="
                    card-text 
                    fs2">
                {{ title }}
            </p>
            <p 
                class="
                    card-text 
                    fs2">
                {{ var }}
            </p>
        </div>
    </div>
</div>