<div 
    class="
        modal 
        fade" 
    id="staticBackdrop" 
    data-bs-backdrop="static" 
    data-bs-keyboard="false" 
    tabindex="-1" 
    aria-labelledby="staticBackdropLabel" 
    aria-hidden="true">
    <div 
        class="
            modal-dialog 
            modal-dialog-centered 
            modal-dialog-scrollable 
            modal-lg 
            modal-fullscreen-lg-down">
        <div 
            class="modal-content">
            <div 
                class="modal-header">
                <h1 
                    class="
                        modal-title 
                        fs-5" 
                    id="staticBackdropLabel">
                    {% block modal_name %}{% endblock %}
                </h1>
                <button 
                    type="button" 
                    class="btn-close"
                    id="modal-close-btn"
                    data-bs-dismiss="modal" 
                    aria-label="Close">
                    Fechar
                </button>
            </div>
            <div 
                class="modal-body"
                id="modal-body">
            </div>
        </div>
    </div>
</div>
