<div 
    id="sidebar"
>
    <button 
        type="button" 
        class="
            btn 
            btn-outline-dark" 
        data-bs-toggle="offcanvas" 
        data-bs-target="#offcanvas" 
        aria-controls="offcanvas">
        <i 
            class="
                fa
                fa-bars
                fa-solid" 
            aria-hidden="true">
        </i>
    </button>
    <div 
        class="
            offcanvas 
            offcanvas-start 
            container-fluid" 
        data-bs-scroll="true" 
        tabindex="-1" 
        id="offcanvas" 
        aria-labelledby="offcanvas">
        <div 
            class="
                offcanvas-header 
                row 
                align-content-center">
            <div 
                class="col-11">
                <img 
                    src="/img/owl-seeklogo.svg" 
                    alt="" 
                    style="
                        height: 100px; 
                        width: 100px;" 
                    class="mx-auto">
            </div>
            <div 
                class="col-1">
                <button 
                    type="button" 
                    class="btn-close" 
                    data-bs-dismiss="offcanvas" 
                    aria-label="Close">
                </button>
            </div>
        </div>
        <div 
            class="offcanvas-body">
            <div 
                class="accordion" 
                id="menuAccordion">
                <div 
                    class="accordion-item">
                    <h2 
                        class="accordion-header" 
                        id="heading_user">
                        <a 
                            class="
                                accordion-button 
                                collapsed 
                                menu-item
                                app-route" 
                            type="button" 
                            data-bs-toggle="collapse" 
                            data-bs-target="#collapse_user" 
                            aria-expanded="false" 
                            aria-controls="collapse_user" 
                            href="/perfil">
                            Usuário
                        </a>
                    </h2>
                    <div 
                        id="collapse_user" 
                        class="
                            accordion-collapse 
                            collapse" 
                        aria-labelledby="heading_user" 
                        data-bs-parent="#menuAccordion">
                        <div 
                            class="
                                accordion-body 
                                sub-menu">
                            <ul 
                                class="
                                    list-group 
                                    list-group-flush">
                                <li 
                                    class="list-group-item">
                                    <a 
                                        href="/templates" 
                                        class="
                                            link-dark 
                                            link-underline-opacity-0
                                            app-route">
                                        Templates
                                    </a>
                                </li>
                                <li 
                                    class="list-group-item">
                                    <a 
                                        href="/logout" 
                                        class="
                                            link-dark 
                                            link-underline-opacity-0
                                            app-route">
                                        Logout
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div 
                    class="accordion-item">
                    <h2 
                        class="accordion-header" 
                        id="heading_client">
                        <a 
                            class="
                                accordion-button 
                                collapsed 
                                menu-item
                                app-route" 
                            type="button" 
                            data-bs-toggle="collapse" 
                            data-bs-target="#collapse_client" 
                            aria-expanded="false" 
                            aria-controls="collapse_client" 
                            href="/client">
                            Clientes
                        </a>
                    </h2>
                    {% if clientsTemplates.lenght != 0 %}
                    <div 
                        id="collapse_client" 
                        class="
                            accordion-collapse 
                            collapse" 
                        aria-labelledby="heading_client" 
                        data-bs-parent="#menuAccordion">
                        <div 
                            class="
                                accordion-body 
                                sub-menu">
                            <ul 
                                class="
                                    list-group 
                                    list-group-flush">
                                {% for title, name in clientsTemplates %}
                                <li 
                                    class="list-group-item">
                                    <a 
                                        href="/client/{{name|e}}" 
                                        class="
                                            link-dark 
                                            link-underline-opacity-0
                                            app-route">
                                        {{ title|e }}
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {% endif %}
                </div>
                <div 
                    class="accordion-item">
                    <h2 
                        class="accordion-header" 
                        id="heading_service">
                        <a 
                            class="
                                accordion-button 
                                collapsed 
                                menu-item
                                app-route" 
                            type="button" 
                            data-bs-toggle="collapse" 
                            data-bs-target="#collapse_service" 
                            aria-expanded="false" 
                            aria-controls="collapse_service" 
                            href="/service">
                            Serviços
                        </a>
                    </h2>
                    {% if servicesTemplates.lenght != 0 %}
                    <div 
                        id="collapse_service" 
                        class="
                            accordion-collapse 
                            collapse" 
                        aria-labelledby="heading_service" 
                        data-bs-parent="#menuAccordion">
                        <div 
                            class="
                                accordion-body 
                                sub-menu">
                            <ul 
                                class="
                                    list-group 
                                    list-group-flush">
                                {% for title, name in services %}
                                <li 
                                    class="list-group-item">
                                    <a 
                                        href="service/{{name|e}}" 
                                        class="
                                            link-dark 
                                            link-underline-opacity-0
                                            app-route">
                                        {{ title|e }}
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {% endif %}
                </div>
                <div 
                    class="accordion-item">
                    <h2 
                        class="accordion-header" 
                        id="heading_action">
                        <a 
                            class="
                                accordion-button 
                                collapsed 
                                menu-item
                                app-route" 
                            type="button" 
                            data-bs-toggle="collapse" 
                            data-bs-target="#collapse_action" 
                            aria-expanded="false" 
                            aria-controls="collapse_action" 
                            ref="/transaction">
                            Transações
                        </a>
                    </h2>
                    <div 
                        id="collapse_action" 
                        class="
                            accordion-collapse 
                            collapse" 
                        aria-labelledby="heading_service" 
                        data-bs-parent="#menuAccordion">
                        <div 
                            class="
                                accordion-body 
                                sub-menu">
                            <ul 
                                class="
                                    list-group 
                                    list-group-flush">
                                <li 
                                    class="list-group-item">
                                    <a 
                                        href="/transaction/income" 
                                        class="
                                            link-dark 
                                            link-underline-opacity-0
                                            app-route">
                                        Entrada
                                    </a>
                                </li>
                                <li 
                                    class="list-group-item">
                                    <a 
                                        href="/transaction/expense" 
                                        class="
                                            link-dark 
                                            link-underline-opacity-0
                                            app-route">
                                        Saída
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div 
                    class="accordion-item">
                    <h2 
                        class="accordion-header" 
                        id="heading_schedule">
                        <a 
                            class="
                                accordion-button 
                                collapsed 
                                menu-item
                                app-route" 
                            type="button" 
                            data-bs-toggle="collapse" 
                            data-bs-target="#collapse_schedule" 
                            aria-expanded="false" 
                            aria-controls="collapse_schedule" 
                            href="/schedule">
                            Agenda
                        </a>
                    </h2>
                    <div 
                        id="collapse_schedule" 
                        class="
                            accordion-collapse 
                            collapse" 
                        aria-labelledby="heading_schedule" 
                        data-bs-parent="#menuAccordion">
                        <div 
                            class="
                                accordion-body 
                                sub-menu">
                            <ul 
                                class="
                                    list-group 
                                    list-group-flush">
                                <li 
                                    class="list-group-item">
                                    <a 
                                        href="/schedule/user" 
                                        class="
                                            link-dark 
                                            link-underline-opacity-0
                                            app-route">
                                        Usuário
                                    </a>
                                </li>
                                <li 
                                    class="list-group-item">
                                    <a 
                                        href="/schedule/service" 
                                        class="
                                            link-dark 
                                            link-underline-opacity-0
                                            app-route">
                                        Serviços
                                    </a>
                                </li>
                                <li 
                                    class="list-group-item">
                                    <a 
                                        href="/schedule/transaction" 
                                        class="
                                            link-dark 
                                            link-underline-opacity-0
                                            app-route">
                                        Transações
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/sidebar.js?v=1.0"></script>
</div>