{% extends "user_view.html" %}
{% block page_title %}Clientes{% endblock %}
{% block page_content %}
<div class="row"></div>
{% for client in data %}
    <div class="col-12">
        <div class="card" id="{{client.id}}">
            <div class="card-body">
                <h3 class="card-title">{{client.name}}</h3>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Email : {{client.email}}</li>
                    <li class="list-group-item">Tipo de Cliente : {{client.type_client}}</li>
                    <li class="list-group-item">ID : {{client.govt_id}}</li>
                    <li class="list-group-item">Estado : {{client.state}}</li>
                    <li class="list-group-item">Cidade : {{client.city}}</li>
                </ul>
            </div>
        </div>
    </div>
{% else %}
    <h2>Nenhum cliente encontrado</h2>
{% endfor %}
</div>
{% endblock %}