<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <title>Login</title>
</head>
<body style="background-color: #F5F5F5;">
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center">
            <div id="form-box" class="col-lg-6  col-md-8 col-sm-12">
                <div class="m-4 p-4 text-center">
                    <img class="rounded" src="../img/login-icon.png" width="200px" height="200px" alt="cadeado">
                </div>
                <form action="/login_post" method="post" name="login">
                    <div class="m-3 row">
                        <label 
                            for="emailInput" 
                            class="form-label">
                            E-mail
                        </label>
                        <input 
                            type="email" 
                            class="form-control" 
                            id="emailInput"
                            placeholder="abc@mail.com"
                            required
                        />
                    </div>
        
                    <div class="m-3 row">
                        <label 
                            for="senha" 
                            class="form-label">
                            Senha
                        </label>
                        <input
                            type="password"
                            class="form-control"
                            id="senha"
                            required
                        />
                    </div>
                    <script>
                        <!--
                            Aqui vai ser colocado o script para validar o email e a senha
                            seja tamanho e patterns.
                            -->
                    </script>
                </form>
            </div>
        </div>
    </div>
    
    <script src="../js/bootstrap.bundle.min.js"></script>
</body>
</html>