{% extends "main.html" %}
{% block page_title %}Registrar{% endblock %}
{% block view %}
<div class="row justify-content-center align-middle">
    <div class="col-12 col-lg-9">
        <div class="card">
            <div class="card-body">
                <form id="register" class="
                d-flex flex-column row-gap-4
                m-md-5 m-1" onsubmit="return false;">
                    <div class="
                    row
                    justify-content-evenly 
                    align-items-center">
                        <div class="col-12 col-md-2">
                            <label for="nome" class="form-label fs-4">Nome:</label>
                        </div>
                        <div class="col-12 col-md-10">
                            <input type="text" class="form-control" id="nome" required>
                        </div>
                    </div>
                    <div class="
                    row 
                    justify-content-evenly 
                    align-items-center">
                        <div class="col-12 col-md-2">
                            <label for="email" class="form-label fs-4">Email:</label>
                        </div>
                        <div class="col-12 col-md-10">
                            <input type="email" class="form-control" id="email" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="
                        col-12 col-md-6 
                        justify-content-center align-items-baseline">
                            <div>
                                <label for="password" class="form-label fs-4">Senha:</label>
                            </div>
                            <div>
                                <input 
                                type="password" 
                                class="form-control" 
                                id="password" 
                                required 
                                pattern="[0-9a-zA-Z]{6,20}">
                            </div>
                            <div>
                                <ul id="requiriments">
                                    <li class="text-secondary" id="lower-char">Ao menos uma letra minuscula.</li>
                                    <li class="text-secondary" id="upper-char">Ao menos uma letra maiuscula.</li>
                                    <li class="text-secondary" id="number">Ao menos um numero.</li>
                                    <li class="text-secondary" id="size">Pelo menos 6  e no máximo 20 caracteres.</li>
                                </ul>
                            </div>
                        </div>
                        <div class="
                        col-12 col-md-6 
                        justify-content-center align-self-baseline">
                            <div>
                                <label for="confirm-password" class="form-label fs-4">Repita sua Senha:</label>
                            </div>
                            <div>
                                <input 
                                type="password" 
                                class="form-control" 
                                id="confirm-password" 
                                required >
                            </div>
                        </div>
                    </div>
                    <div class="m-4"></div>
                    <div class="d-flex flex-row justify-content-evenly">
                        <button type="submit" class="btn btn-primary col-6 col-md-3" id="submitBtn">Enviar</button>
                        <button type="reset" class="btn btn-danger col-6 col-md-3">Limpar Formulário</button>
                    </div>
                    <script>
                        $(function() {
                            function validate(){
                                const password = $('#password').val();
                                const patterns = {
                                    lower: /[a-z]/,
                                    upper: /[A-Z]/,
                                    number: /\d/,
                                    lenght: /^.{6,20}$/
                                }
                                const check = [
                                    {id: "#lower-char", valid: patterns.lower.test(password)},
                                    {id: "#upper-char", valid: patterns.upper.test(password)},
                                    {id: "#number", valid: patterns.number.test(password)},
                                    {id: "#size", valid: patterns.lenght.test(password)}
                                ]
                                let isValid = true;
                                check.forEach(({id, valid}) => {
                                    const $li = $(id);
                                    if (valid) {
                                        $li.removeClass("text-secondary").addClass("text-success");
                                        console.log("Is Valid")
                                        if (!$li.text().includes("✅")) {
                                            $li.text(`✅ ${$li.text()}`);
                                        }
                                    }
                                    else {
                                        $li.removeClass("text-success").addClass("text-secondary");
                                        $li.text($li.text().replace("✅ ", ""));
                                        isValid = false;
                                    }
                                });
                                return isValid
                            }
                            $("#password").on("input", function () {
                                validate();
                            });
                            function checkpw() {
                                const $confirm = $("#confirm-password");
                                const password = $("#password").val();
                                const confirmPassword = $confirm.val();
                                
                                if (password === confirmPassword) {
                                    $confirm.removeClass("is-invalid").addClass("is-valid");
                                    return true;
                                } else {
                                    $confirm.removeClass("is-valid").addClass("is-invalid");
                                    return false;
                                }
                            }
                            $("#confirm-password").on("input", function () {
                                const confirm_password = $(this).val();
                                const password = $('#password').val();
                                checkpw();
                            });
                            $('#submitBtn').on('click', (event) => {
                                event.preventDefault();
                                const isValid = validate() && checkpw();
                                if (!isValid) {
                                    alert("Há problemas com seu formulário, por favor preencha os campos corretamente.");
                                }
                                else {
                                    const data = {
                                        name: $('#nome').val(),
                                        email: $('#email').val(),
                                        password: $('#password').val()
                                    }
                                    const jsonData = JSON.stringify(data);
                                    console.log(jsonData)
                                    $.ajax({    
                                        url: window.location.href,
                                        method: "POST",
                                        contentType: "application/json",
                                        data: jsonData,
                                        success: function(response, textStatus, xhr) {
                                            if (xhr.status === 201) {
                                                alert(response.message);
                                                window.location.href = "/login";
                                            }
                                        },
                                        error: function(xhr) {
                                            const errorData = xhr.responseJSON;
                                            if (errorData && errorData.message) {
                                                alert(`Error: ${errorData.message}`);
                                            } else {
                                                alert('An unexpected error occurred.');
                                            }
                                        }
                                    });
                                }
                            });
                        })
                    </script>
                </form>
            </div>
        </div>
        
    </div>
</div>



{% endblock %}