{% extends "main.html" %}
{% block page_title %}Entrar{% endblock %}
{% block view %}
<div class="row justify-content-center align-middle">
    <div class="col-12 col-lg-9">
        <div class="card">
            <img src="{{ url_for('img', path='owl-seeklogo.svg') }}" class="card-img-top mx-auto d-block" style="width: 12em; height: 12em;" alt="...">
            <div class="card-body">
                <form
                id="login"
                class="d-flex flex-column row-gap-4 m-md-5 m-1"
                onsubmit="return false;">
                    <div class="
                    row 
                    justify-content-evenly 
                    align-items-center">
                        <div class="col-12 col-md-2">
                            <label for="email" class="form-label fs-4">Email:</label>
                        </div>
                        <div class="col-12 col-md-10">
                            <input type="email" class="form-control" id="email" required>
                        </div>
                    </div>
                    <div class="
                    row 
                    justify-content-evenly 
                    align-items-center">
                        <div class="col-12 col-md-2">
                            <label for="password" class="form-label fs-4">Senha:</label>
                        </div>
                        <div class="col-12 col-md-10">
                            <input 
                                type="password" 
                                class="form-control" 
                                id="password" 
                                required 
                                pattern="[0-9a-zA-Z]{6,20}">
                        </div>
                    </div>
                    <div class="m-4"></div>
                    <div class="d-flex flex-row justify-content-evenly">
                        <button type="submit" class="btn btn-primary col-6 col-md-3" id="submitBtn">Enviar</button>
                        <a href="{{url_for('register')}}" type="button" class="btn btn-danger col-6 col-md-3">Registre-se</a>
                    </div>
                    <script>
                        $(function() {
                            $('#submitBtn').on('click', (event) => {
                                event.preventDefault();
                                const data = {
                                    email: $('#email').val(),
                                    password: $('#password').val()
                                }
                                const jsonData = JSON.stringify(data);
                                console.log(jsonData)
                                $.ajax({    
                                    url: window.location.href,
                                    method: "POST",
                                    contentType: "application/json",
                                    data: jsonData,
                                    xhrFields: {
                                        withCredentials: true
                                    },
                                    success: function(response, textStatus, xhr) {
                                            if (xhr.status === 200) {
                                                const token = response.access_token;
                                                console.log(token)
                                                document.cookie = `access_token=${token}; Path=/; SameSite=Lax;`
                                                window.location.href = "/";
                                            }
                                        },
                                    error: function(xhr) {
                                        const errorData = xhr.responseJSON;
                                        if (errorData && errorData.message) {
                                            alert(`Error: ${errorData.message}`);
                                        } else {
                                            alert('An unexpected error occurred.');
                                        }
                                    }
                                });
                            });
                        })
                    </script>
                </form>
            </div>
        </div>
        
    </div>
</div>


{% endblock %}