<div id="sidebar">
    <button type="button" class="btn btn-outline-dark" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" aria-controls="offcanvas"><i class="fa-solid fa-bars fa" aria-hidden="true"></i></button>
    <div class="offcanvas offcanvas-start container-fluid" data-bs-scroll="true" tabindex="-1" id="offcanvas" aria-labelledby="offcanva">
        <div class="offcanvas-header row align-content-center">
            <div class="col-11">
                <img src="{{ url_for('img', path='owl-seeklogo.svg') }}" alt="" style="height: 100px; width: 100px;" class="mx-auto">
            </div>
            <div class="col-1">
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            
        </div>
        <div class="offcanvas-body">
            <div class="accordion" id="menuAccordion">
                {% for item, valor in sidebar.items() %}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading_{{ item|e }}">
                        <button class="accordion-button collapsed menu-item" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ item|e }}" aria-expanded="false" aria-controls="collapse{{ item|e }}">
                            {{ valor['title'] }}
                        </button>
                    </h2>
                    <div id="collapse{{ item|e }}" class="accordion-collapse collapse" aria-labelledby="heading{{ item|e }}" data-bs-parent="#menuAccordion">
                        <div class="accordion-body sub-menu">
                            <ul class="list-group list-group-flush">
                                {% if item|e != 'user' %}
                                <li class="list-group-item"><a href="/all" class="link-dark link-underline-opacity-0">Todos</a></li>
                                {% endif %}
                                {% for c, v in valor['children'].items() %}
                                <li class="list-group-item"><a href="/{{ c|e }}" class="link-dark link-underline-opacity-0">{{ v|e }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                {% endfor%}
            </div>
            
        </div>
    </div>
</div>